body {
    color: #41516a;
}


/*********************************
* HEADER
**********************************/

.bg-light {
    background-color: #fff !important;
}

.navbar {
    min-height: 100px;
}

.navbar .navbar-nav li a {
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
}

.navbar .navbar-nav li a.active {
    color: #df040b !important;
}

.navbar .navbar-brand {
    width: 35%;
    height: auto;
}

.navbar .navbar-brand img {
    width: 35%;
    height: auto;
}

.img-slideshow {
    width: 100%;
    height: 86vh;
    object-fit: cover;
}


/*********************************
* COLORS
**********************************/

.bg-red {
    background-color: #c30c12;
    color: #fff;
}

.bg-grayscale {
    background-color: #e6e6e6;
}

.bg-none {
    background-color: transparent !important;
}

.text-grayscale {
    color: #41516a;
}


/*********************************
* FONTS AND TEXT's
**********************************/

.text-1 {
    font-family: 'nexaBlack';
    font-weight: 500;
}


/*********************************
* SIZE FONTS
**********************************/

.f-14 {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}

.f-18 {
    font-size: 18px;
}

.f-22 {
    font-size: 22px;
}


/*********************************
* GENERAL
**********************************/

.sc-default {
    padding: 80px 0 80px 0 !important;
}

.box-shadow-none {
    box-shadow: none;
}

.title {
    font-family: 'nexaBlack';
}

.title-2 {
    font-family: 'nexaBold';
}

.border-radius-0 {
    border-radius: 0;
}

.carousel-wrap {
    width: 1000px;
    margin: auto;
    position: relative;
}

.owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #c30c12;
}

.owl-carousel .item {
    text-align: center;
}

.owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.owl-carousel .card-body {
    padding-left: 0;
}

.owl-carousel .item {
    text-align: left;
}

.owl-carousel-service .card {
    padding-left: 10px;
    padding-right: 10px;
}

.owl-carousel-service .card img {
    border-radius: 0;
}

.owl-carousel-service .card .card-body .card-title {
    font-family: 'nexaRegular';
    text-transform: uppercase;
    font-weight: 200;
    font-size: 16px;
}

.owl-carousel-service .card .card-body .card-text {
    font-size: 14px;
}

.owl-carousel .prev-slide:hover {
    background-position: 0px -53px;
}

.owl-carousel .next-slide:hover {
    background-position: -24px -53px;
}

span.img-text {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
    display: block;
    text-transform: capitalize;
}

span.img-text:hover {
    color: #2caae1;
}

.owl-carousel-testimonials .owl-item img.card-img-top {
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px #e3212a solid;
    padding: 5px;
}

.owl-carousel-testimonials .owl-item .quote-left img {
    width: 20px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: -200px;
}

.owl-carousel-testimonials .owl-item .quote-right img {
    width: 20px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -10px;
    right: -200px;
}

.footer {
    padding: 40px 0 40px 0;
    background-color: #002553;
    color: #fff;
    font-family: 'nexaBold';
}

.footer .logo-footer {
    width: 120px;
    height: auto;
    margin-bottom: 25px;
}

.footer .list-info-contact {
    list-style: none;
    padding-left: 0;
    margin-top: 25px;
    font-size: 14px;
}

.footer .list-info-contact li {
    line-height: 40px;
}

.footer .list-info-contact a.btn-email {
    background-color: #e3212a;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    color: #fff;
}

.footer .list-social-icons {
    display: inline;
    list-style: none;
    padding-left: 0;
}

.footer .list-social-icon li a {
    color: #fff;
}

.footer .fa-facebook-f {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 6px 9px;
}

.footer i.fa-instagram {
    font-size: 30px;
    position: relative;
    top: 6.5px;
}


/*********************************
* RESPONSIVE
**********************************/

@media(max-width: 360px) {
    .navbar .navbar-brand img {
        width: 100%;
        height: auto;
    }
}